<div *ngIf="carregando" class="loading-overlay">
    <mat-spinner></mat-spinner>
</div>
<div class="maindiv" *ngIf="!inicializando">
    <h1>Inventário de componentes - registro de {{dataRegistro | date: 'dd/MM/yyyy HH:mm:ss'}} </h1>

    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
        <ng-container matColumnDef="i">
            <th mat-header-cell *matHeaderCellDef> </th>
            <td mat-cell *matCellDef="let row; let i = index"> {{ i + 1 }} </td>
          </ng-container>
        <!--'nome', 'versa', 'descricao', 'contemvulnerabilidades', 'licenca', 'projetos'-->
        <ng-container matColumnDef="nome">
            <th mat-header-cell *matHeaderCellDef> Componente </th>
            <td mat-cell *matCellDef="let element">{{element.Nome}} </td>
        </ng-container>
        <ng-container matColumnDef="versao">
            <th mat-header-cell *matHeaderCellDef> Versão </th>
            <td mat-cell *matCellDef="let element">{{element.Versao}} </td>
        </ng-container>
        <ng-container matColumnDef="licenca">
            <th mat-header-cell *matHeaderCellDef> Licença </th>
            <td mat-cell *matCellDef="let element">
                <div class="limite100">
                    {{element.Licenca}}
                </div>
            </td>
        </ng-container>
        <ng-container matColumnDef="descricao">
            <th mat-header-cell *matHeaderCellDef> Descrição </th>
            <td mat-cell *matCellDef="let element">       <div class="limite200">{{element.Descricao}}</div> </td>
        </ng-container>
        <ng-container matColumnDef="contemvulnerabilidades">
            <th mat-header-cell *matHeaderCellDef> Contém vulnerabilidades </th>
            <td mat-cell *matCellDef="let element" [class.vermelho]="element.ContemVulnerabilidades">
                {{element.ContemVulnerabilidades ? 'Sim' : 'Não'}} </td>
        </ng-container>
        <ng-container matColumnDef="projetos">
            <th mat-header-cell *matHeaderCellDef>

                Projetos onde está referenciado

            </th>
            <td mat-cell *matCellDef="let element">
                <ng-container *ngFor="let item of element.Projetos; let i = index;">
                    <a href="javascript:void(0)"
                        matTooltip="Clique para ver o relatório detalhado do Dependency Check para o projeto"
                        (click)="mostrarHtml(item)">
                        {{ item }}
                    </a>
                    <span *ngIf="i !== element.Projetos.length - 1">, </span>
                </ng-container>
            </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
</div>